@use './colors';

// NEWSLETTER
.newsletter {
	padding: 8em 2em;
	background-color: colors.$red;
	text-align: center;

	&__text {
		padding: 1em;
		margin-bottom: 1em;
		font-size: 4rem;
		font-weight: 200;
	}

	&__form {
		&-input {
			margin-bottom: 1em;
			padding: 1em;
			width: 100%;
			background-color: colors.$white;
			border: 1px solid transparent;
		}

		&-btn {
			padding: 1em;
			border: 1px solid colors.$gold;
			background: none;
			color: colors.$gold;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				color: colors.$red;
				background-color: colors.$gold;
			}
		}
	}
}
